[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
libvirt-python = "==4.2.0"
requests = "==2.18.4"
"psycopg2" = "*"

[dev-packages]

[requires]
python_version = "2.7"
